<%- include('header') -%>
<%- include('banner') -%>


<!-- Highlights -->
<section class="wrapper">
		<div class="inner">
			<!-- 내 소개 -->
			<%- include('aboutMe') -%>
			<br><br><br>

			<!-- 입상경력 -->
			<%- include('prize') -%>
			<hr>
			
			<!-- 경험 -->
			<%- include('experience') -%>
			<hr>

			<!-- 기술 -->
			<!-- <%- include('skill') -%> -->
			<!-- <hr> -->

			<!-- 지식 -->
			<!-- <%- include('knowledge') -%> -->
			<!-- <hr> -->

			<!-- 언어 -->
			<!-- <%- include('language') -%> -->
			<!-- <hr> -->

			<!-- 랭킹 -->
			<!-- <%- include('ranking') -%> -->
		</div>
	</section>

	<div id="root"></div>
	
	<!-- CTA -->
	<section id="cta" class="wrapper">
		<div class="inner">
			<h2>current interest(2021)</h2>
			<br>
			<div style="text-align: left;"><strong>[ AI ]</strong> Natural Language Understanding(NLU), Deep Learning Framework from scratch(C++), lightweight deep learning model</div>
			<div style="text-align: left;"><strong>[ Develop ]</strong> OS making, Interpreter/Compiler, Algorithms</div>
		</div>
	</section>
<%- include('footer') -%>