<%- include('header') -%>
<%- include('banner') -%>


<!-- Highlights -->
<section class="wrapper">
		<div class="inner">
			<!-- 내 소개 -->
			<%- include('aboutMe') -%>
			<br><br><br>

			<!-- 입상경력 -->
			<%- include('prize') -%>
			<hr>
			
			<!-- 경험 -->
			<%- include('experience') -%>
			<hr>

			<!-- 기술 -->
			<!-- <%- include('skill') -%> -->
			<!-- <hr> -->

			<!-- 지식 -->
			<!-- <%- include('knowledge') -%> -->
			<!-- <hr> -->

			<!-- 언어 -->
			<!-- <%- include('language') -%> -->
			<!-- <hr> -->

			<!-- 랭킹 -->
			<!-- <%- include('ranking') -%> -->
		</div>
	</section>

	<div id="root"></div>
	
	<!-- CTA -->
	<section id="cta" class="wrapper">
		<div class="inner">
			<h1>2021 현재 관심사</h1>
			<br>
			<h3>자연어이해(NLU), Deep Learning Framework from scratch, kubernetes, lightweight deep learning model</h3>
		</div>
	</section>
<%- include('footer') -%>